{
  "openapi": "3.1.0",
  "info": {
    "title": "Chief Relay API",
    "version": "1.0.0",
    "description": "The versioned protocol used by Chief clients, durable agents, and relay deployments."
  },
  "servers": [{ "url": "https://relay.heychief.sh" }],
  "tags": [
    {
      "name": "Health & discovery",
      "description": "Liveness and protocol metadata."
    },
    {
      "name": "Workspaces",
      "description": "Provision, select and bootstrap a workspace."
    },
    {
      "name": "Invites & members",
      "description": "Invite people and manage workspace membership."
    },
    {
      "name": "Channels",
      "description": "Create, join and administer workspace channels."
    },
    {
      "name": "Messages",
      "description": "Read, send, edit and delete durable messages."
    },
    {
      "name": "Reactions",
      "description": "Add, list and remove message reactions."
    },
    {
      "name": "Attachments",
      "description": "Store and fetch message attachments."
    },
    {
      "name": "Files",
      "description": "Versioned files shared through the workspace."
    },
    {
      "name": "Projects",
      "description": "Workspace project registry metadata."
    },
    { "name": "Logs", "description": "Retained, redacted operational logs." },
    { "name": "Agents", "description": "Files published by workspace agents." }
  ],
  "security": [{ "nostrNip98": [] }],
  "paths": {
    "/health": {
      "get": {
        "operationId": "relayHealth",
        "summary": "Check relay health",
        "description": "Liveness probe used by clients and deployments before issuing requests.",
        "tags": ["Health & discovery"],
        "security": [],
        "responses": {
          "200": {
            "description": "Relay is accepting requests.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "protocolVersion"],
                  "properties": {
                    "ok": { "const": true },
                    "protocolVersion": { "const": 1 }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces": {
      "post": {
        "operationId": "createWorkspace",
        "summary": "Create a workspace",
        "description": "Provisions a workspace owned by the authenticated account and enqueues its initial setup.",
        "tags": ["Workspaces"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "workspace": {
                    "type": "object",
                    "properties": {
                      "commandId": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                      },
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 120
                      },
                      "website": {
                        "default": "",
                        "type": "string",
                        "maxLength": 2048
                      },
                      "runtime": {
                        "type": "string",
                        "enum": ["phone", "desktop", "cloud"]
                      },
                      "agentRuntime": {
                        "type": "string",
                        "enum": ["relay-cell", "vercel-eve"]
                      },
                      "inferenceProvider": {
                        "type": "string",
                        "enum": [
                          "openCodeGo",
                          "opencode",
                          "vercelAiGateway",
                          "onDevice",
                          "codexBridge"
                        ]
                      },
                      "inferenceModel": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128
                      },
                      "selectedApps": {
                        "maxItems": 100,
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 128
                        }
                      }
                    },
                    "required": [
                      "commandId",
                      "name",
                      "website",
                      "runtime",
                      "agentRuntime",
                      "inferenceProvider",
                      "inferenceModel",
                      "selectedApps"
                    ],
                    "additionalProperties": false
                  },
                  "secrets": {
                    "type": "object",
                    "properties": {
                      "opencode": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 20000
                      },
                      "vercelAiGateway": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 20000
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "required": ["workspace", "secrets"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The workspace and its initial Chief setup job.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 128,
                      "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 120
                    },
                    "website": {
                      "default": "",
                      "type": "string",
                      "maxLength": 2048
                    },
                    "selectedApps": {
                      "default": [],
                      "maxItems": 100,
                      "type": "array",
                      "items": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128
                      }
                    },
                    "runtime": {
                      "default": null,
                      "anyOf": [
                        {
                          "type": "string",
                          "enum": ["phone", "desktop", "cloud"]
                        },
                        { "type": "null" }
                      ]
                    },
                    "imageURL": {
                      "anyOf": [
                        { "type": "string", "format": "uri" },
                        { "type": "null" }
                      ]
                    },
                    "onboardingComplete": { "type": "boolean" },
                    "conversations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 120
                          },
                          "kind": {
                            "type": "string",
                            "enum": ["channel", "direct"]
                          },
                          "isPrivate": { "type": "boolean" },
                          "archived": { "default": false, "type": "boolean" },
                          "unreadCount": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "requiresAttention": { "type": "boolean" },
                          "lastMessage": {
                            "anyOf": [
                              { "type": "string", "maxLength": 4000 },
                              { "type": "null" }
                            ]
                          },
                          "lastMessageAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                          },
                          "directUserId": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 256
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "kind",
                          "isPrivate",
                          "archived",
                          "unreadCount",
                          "requiresAttention",
                          "lastMessage"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "agents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ownerUserId": { "type": "string" },
                          "canMessage": { "type": "boolean" },
                          "canRunOnDevice": { "type": "boolean" },
                          "id": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 120
                          },
                          "role": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 120
                          },
                          "description": {
                            "default": "",
                            "type": "string",
                            "maxLength": 1000
                          },
                          "instructions": {
                            "default": "",
                            "type": "string",
                            "maxLength": 40000
                          },
                          "capabilities": {
                            "default": [],
                            "type": "array",
                            "items": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 128
                            }
                          },
                          "status": {
                            "type": "string",
                            "enum": ["idle", "working", "needsYou", "offline"]
                          },
                          "runtime": {
                            "default": { "kind": "native-cell" },
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "const": "native-cell"
                                  }
                                },
                                "required": ["kind"],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "const": "external-channel"
                                  },
                                  "provider": {
                                    "type": "string",
                                    "const": "eve"
                                  },
                                  "endpoint": {
                                    "type": "string",
                                    "maxLength": 2048,
                                    "format": "uri"
                                  },
                                  "connectionStatus": {
                                    "type": "string",
                                    "enum": [
                                      "pending_setup",
                                      "connected",
                                      "degraded"
                                    ]
                                  },
                                  "definition": {
                                    "type": "object",
                                    "properties": {
                                      "kind": {
                                        "type": "string",
                                        "const": "repository"
                                      },
                                      "projectId": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 128
                                      },
                                      "repositoryId": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 128
                                      },
                                      "repository": {
                                        "oneOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "provider": {
                                                "type": "string",
                                                "const": "github"
                                              },
                                              "owner": {
                                                "type": "string",
                                                "minLength": 1,
                                                "maxLength": 100
                                              },
                                              "name": {
                                                "type": "string",
                                                "minLength": 1,
                                                "maxLength": 100
                                              }
                                            },
                                            "required": [
                                              "provider",
                                              "owner",
                                              "name"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "provider": {
                                                "type": "string",
                                                "const": "chief-git"
                                              },
                                              "repositoryId": {
                                                "type": "string",
                                                "minLength": 1,
                                                "maxLength": 128
                                              }
                                            },
                                            "required": [
                                              "provider",
                                              "repositoryId"
                                            ],
                                            "additionalProperties": false
                                          }
                                        ]
                                      },
                                      "path": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 1024
                                      },
                                      "requestedRef": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 512
                                      },
                                      "verification": {
                                        "oneOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "status": {
                                                "type": "string",
                                                "const": "unresolved"
                                              },
                                              "reason": {
                                                "type": "string",
                                                "minLength": 1,
                                                "maxLength": 500
                                              }
                                            },
                                            "required": ["status", "reason"],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "status": {
                                                "type": "string",
                                                "const": "verified"
                                              },
                                              "resolvedCommitSha": {
                                                "type": "string",
                                                "pattern": "^[a-f\\d]{40}$"
                                              },
                                              "contentDigest": {
                                                "type": "string",
                                                "pattern": "^sha256:[a-f\\d]{64}$"
                                              }
                                            },
                                            "required": [
                                              "status",
                                              "resolvedCommitSha",
                                              "contentDigest"
                                            ],
                                            "additionalProperties": false
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "kind",
                                      "projectId",
                                      "repositoryId",
                                      "repository",
                                      "path",
                                      "requestedRef",
                                      "verification"
                                    ],
                                    "additionalProperties": false
                                  },
                                  "deployment": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "status": {
                                            "type": "string",
                                            "const": "unattested"
                                          }
                                        },
                                        "required": ["status"],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "status": {
                                            "type": "string",
                                            "const": "attested"
                                          },
                                          "resolvedCommitSha": {
                                            "type": "string",
                                            "pattern": "^[a-f\\d]{40}$"
                                          },
                                          "attestedAt": {
                                            "type": "string",
                                            "format": "date-time",
                                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                                          }
                                        },
                                        "required": [
                                          "status",
                                          "resolvedCommitSha",
                                          "attestedAt"
                                        ],
                                        "additionalProperties": false
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "kind",
                                  "provider",
                                  "endpoint",
                                  "connectionStatus",
                                  "deployment"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          },
                          "subagents": {
                            "default": [],
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ownerUserId": { "type": "string" },
                                "canMessage": { "type": "boolean" },
                                "canRunOnDevice": { "type": "boolean" },
                                "id": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 128
                                },
                                "name": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 120
                                },
                                "role": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 120
                                },
                                "description": {
                                  "default": "",
                                  "type": "string",
                                  "maxLength": 1000
                                },
                                "instructions": {
                                  "default": "",
                                  "type": "string",
                                  "maxLength": 40000
                                },
                                "capabilities": {
                                  "default": [],
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128
                                  }
                                }
                              },
                              "required": [
                                "id",
                                "name",
                                "role",
                                "description",
                                "instructions",
                                "capabilities"
                              ],
                              "additionalProperties": false
                            }
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "role",
                          "description",
                          "instructions",
                          "capabilities",
                          "status",
                          "runtime",
                          "subagents"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128
                          },
                          "organizationId": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128,
                            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
                          },
                          "agentId": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128,
                            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 120
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 2000
                          },
                          "repositoryKind": {
                            "type": "string",
                            "enum": ["attached", "cloned"]
                          },
                          "providerId": {
                            "type": "string",
                            "enum": [
                              "local",
                              "generic-git",
                              "github",
                              "chief-git",
                              "gitlab",
                              "bitbucket"
                            ]
                          },
                          "canonicalRemoteUrl": {
                            "type": "string",
                            "maxLength": 2048,
                            "format": "uri"
                          },
                          "repositoryWebUrl": {
                            "type": "string",
                            "maxLength": 2048,
                            "format": "uri"
                          },
                          "repositoryFiles": {
                            "maxItems": 1000,
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "path": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 1024
                                },
                                "content": {
                                  "type": "string",
                                  "maxLength": 1000000
                                }
                              },
                              "required": ["path", "content"],
                              "additionalProperties": false
                            }
                          },
                          "defaultBranch": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 512
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                          }
                        },
                        "required": [
                          "id",
                          "organizationId",
                          "name",
                          "repositoryKind",
                          "providerId",
                          "defaultBranch",
                          "createdAt",
                          "updatedAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "website",
                    "selectedApps",
                    "runtime",
                    "imageURL",
                    "onboardingComplete",
                    "conversations",
                    "agents",
                    "projects",
                    "createdAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The command could not be completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 512
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 128
                        },
                        "details": {
                          "type": "object",
                          "propertyNames": { "type": "string" },
                          "additionalProperties": {
                            "$ref": "#/$defs/__schema0"
                          }
                        }
                      },
                      "required": ["code", "message"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false,
                  "$defs": {
                    "__schema0": {
                      "anyOf": [
                        { "type": "string" },
                        { "type": "number" },
                        { "type": "boolean" },
                        { "type": "null" },
                        {
                          "type": "array",
                          "items": { "$ref": "#/$defs/__schema0" }
                        },
                        {
                          "type": "object",
                          "propertyNames": { "type": "string" },
                          "additionalProperties": {
                            "$ref": "#/$defs/__schema0"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The command could not be completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 512
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 128
                        },
                        "details": {
                          "type": "object",
                          "propertyNames": { "type": "string" },
                          "additionalProperties": {
                            "$ref": "#/$defs/__schema0"
                          }
                        }
                      },
                      "required": ["code", "message"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false,
                  "$defs": {
                    "__schema0": {
                      "anyOf": [
                        { "type": "string" },
                        { "type": "number" },
                        { "type": "boolean" },
                        { "type": "null" },
                        {
                          "type": "array",
                          "items": { "$ref": "#/$defs/__schema0" }
                        },
                        {
                          "type": "object",
                          "propertyNames": { "type": "string" },
                          "additionalProperties": {
                            "$ref": "#/$defs/__schema0"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The command could not be completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 512
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 128
                        },
                        "details": {
                          "type": "object",
                          "propertyNames": { "type": "string" },
                          "additionalProperties": {
                            "$ref": "#/$defs/__schema0"
                          }
                        }
                      },
                      "required": ["code", "message"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false,
                  "$defs": {
                    "__schema0": {
                      "anyOf": [
                        { "type": "string" },
                        { "type": "number" },
                        { "type": "boolean" },
                        { "type": "null" },
                        {
                          "type": "array",
                          "items": { "$ref": "#/$defs/__schema0" }
                        },
                        {
                          "type": "object",
                          "propertyNames": { "type": "string" },
                          "additionalProperties": {
                            "$ref": "#/$defs/__schema0"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/workspace": {
      "get": {
        "operationId": "getActiveWorkspace",
        "summary": "Get the active workspace",
        "description": "Returns the caller's active workspace snapshot, or 204 when none is selected.",
        "tags": ["Workspaces"],
        "responses": {
          "200": {
            "description": "The user's active workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 128,
                      "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 120
                    },
                    "website": {
                      "default": "",
                      "type": "string",
                      "maxLength": 2048
                    },
                    "selectedApps": {
                      "default": [],
                      "maxItems": 100,
                      "type": "array",
                      "items": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128
                      }
                    },
                    "runtime": {
                      "default": null,
                      "anyOf": [
                        {
                          "type": "string",
                          "enum": ["phone", "desktop", "cloud"]
                        },
                        { "type": "null" }
                      ]
                    },
                    "imageURL": {
                      "anyOf": [
                        { "type": "string", "format": "uri" },
                        { "type": "null" }
                      ]
                    },
                    "onboardingComplete": { "type": "boolean" },
                    "conversations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 120
                          },
                          "kind": {
                            "type": "string",
                            "enum": ["channel", "direct"]
                          },
                          "isPrivate": { "type": "boolean" },
                          "archived": { "default": false, "type": "boolean" },
                          "unreadCount": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "requiresAttention": { "type": "boolean" },
                          "lastMessage": {
                            "anyOf": [
                              { "type": "string", "maxLength": 4000 },
                              { "type": "null" }
                            ]
                          },
                          "lastMessageAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                          },
                          "directUserId": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 256
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "kind",
                          "isPrivate",
                          "archived",
                          "unreadCount",
                          "requiresAttention",
                          "lastMessage"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "agents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ownerUserId": { "type": "string" },
                          "canMessage": { "type": "boolean" },
                          "canRunOnDevice": { "type": "boolean" },
                          "id": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 120
                          },
                          "role": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 120
                          },
                          "description": {
                            "default": "",
                            "type": "string",
                            "maxLength": 1000
                          },
                          "instructions": {
                            "default": "",
                            "type": "string",
                            "maxLength": 40000
                          },
                          "capabilities": {
                            "default": [],
                            "type": "array",
                            "items": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 128
                            }
                          },
                          "status": {
                            "type": "string",
                            "enum": ["idle", "working", "needsYou", "offline"]
                          },
                          "runtime": {
                            "default": { "kind": "native-cell" },
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "const": "native-cell"
                                  }
                                },
                                "required": ["kind"],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "const": "external-channel"
                                  },
                                  "provider": {
                                    "type": "string",
                                    "const": "eve"
                                  },
                                  "endpoint": {
                                    "type": "string",
                                    "maxLength": 2048,
                                    "format": "uri"
                                  },
                                  "connectionStatus": {
                                    "type": "string",
                                    "enum": [
                                      "pending_setup",
                                      "connected",
                                      "degraded"
                                    ]
                                  },
                                  "definition": {
                                    "type": "object",
                                    "properties": {
                                      "kind": {
                                        "type": "string",
                                        "const": "repository"
                                      },
                                      "projectId": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 128
                                      },
                                      "repositoryId": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 128
                                      },
                                      "repository": {
                                        "oneOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "provider": {
                                                "type": "string",
                                                "const": "github"
                                              },
                                              "owner": {
                                                "type": "string",
                                                "minLength": 1,
                                                "maxLength": 100
                                              },
                                              "name": {
                                                "type": "string",
                                                "minLength": 1,
                                                "maxLength": 100
                                              }
                                            },
                                            "required": [
                                              "provider",
                                              "owner",
                                              "name"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "provider": {
                                                "type": "string",
                                                "const": "chief-git"
                                              },
                                              "repositoryId": {
                                                "type": "string",
                                                "minLength": 1,
                                                "maxLength": 128
                                              }
                                            },
                                            "required": [
                                              "provider",
                                              "repositoryId"
                                            ],
                                            "additionalProperties": false
                                          }
                                        ]
                                      },
                                      "path": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 1024
                                      },
                                      "requestedRef": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 512
                                      },
                                      "verification": {
                                        "oneOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "status": {
                                                "type": "string",
                                                "const": "unresolved"
                                              },
                                              "reason": {
                                                "type": "string",
                                                "minLength": 1,
                                                "maxLength": 500
                                              }
                                            },
                                            "required": ["status", "reason"],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "status": {
                                                "type": "string",
                                                "const": "verified"
                                              },
                                              "resolvedCommitSha": {
                                                "type": "string",
                                                "pattern": "^[a-f\\d]{40}$"
                                              },
                                              "contentDigest": {
                                                "type": "string",
                                                "pattern": "^sha256:[a-f\\d]{64}$"
                                              }
                                            },
                                            "required": [
                                              "status",
                                              "resolvedCommitSha",
                                              "contentDigest"
                                            ],
                                            "additionalProperties": false
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "kind",
                                      "projectId",
                                      "repositoryId",
                                      "repository",
                                      "path",
                                      "requestedRef",
                                      "verification"
                                    ],
                                    "additionalProperties": false
                                  },
                                  "deployment": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "status": {
                                            "type": "string",
                                            "const": "unattested"
                                          }
                                        },
                                        "required": ["status"],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "status": {
                                            "type": "string",
                                            "const": "attested"
                                          },
                                          "resolvedCommitSha": {
                                            "type": "string",
                                            "pattern": "^[a-f\\d]{40}$"
                                          },
                                          "attestedAt": {
                                            "type": "string",
                                            "format": "date-time",
                                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                                          }
                                        },
                                        "required": [
                                          "status",
                                          "resolvedCommitSha",
                                          "attestedAt"
                                        ],
                                        "additionalProperties": false
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "kind",
                                  "provider",
                                  "endpoint",
                                  "connectionStatus",
                                  "deployment"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          },
                          "subagents": {
                            "default": [],
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ownerUserId": { "type": "string" },
                                "canMessage": { "type": "boolean" },
                                "canRunOnDevice": { "type": "boolean" },
                                "id": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 128
                                },
                                "name": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 120
                                },
                                "role": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 120
                                },
                                "description": {
                                  "default": "",
                                  "type": "string",
                                  "maxLength": 1000
                                },
                                "instructions": {
                                  "default": "",
                                  "type": "string",
                                  "maxLength": 40000
                                },
                                "capabilities": {
                                  "default": [],
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128
                                  }
                                }
                              },
                              "required": [
                                "id",
                                "name",
                                "role",
                                "description",
                                "instructions",
                                "capabilities"
                              ],
                              "additionalProperties": false
                            }
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "role",
                          "description",
                          "instructions",
                          "capabilities",
                          "status",
                          "runtime",
                          "subagents"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128
                          },
                          "organizationId": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128,
                            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
                          },
                          "agentId": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128,
                            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 120
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 2000
                          },
                          "repositoryKind": {
                            "type": "string",
                            "enum": ["attached", "cloned"]
                          },
                          "providerId": {
                            "type": "string",
                            "enum": [
                              "local",
                              "generic-git",
                              "github",
                              "chief-git",
                              "gitlab",
                              "bitbucket"
                            ]
                          },
                          "canonicalRemoteUrl": {
                            "type": "string",
                            "maxLength": 2048,
                            "format": "uri"
                          },
                          "repositoryWebUrl": {
                            "type": "string",
                            "maxLength": 2048,
                            "format": "uri"
                          },
                          "repositoryFiles": {
                            "maxItems": 1000,
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "path": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 1024
                                },
                                "content": {
                                  "type": "string",
                                  "maxLength": 1000000
                                }
                              },
                              "required": ["path", "content"],
                              "additionalProperties": false
                            }
                          },
                          "defaultBranch": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 512
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                          }
                        },
                        "required": [
                          "id",
                          "organizationId",
                          "name",
                          "repositoryKind",
                          "providerId",
                          "defaultBranch",
                          "createdAt",
                          "updatedAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "website",
                    "selectedApps",
                    "runtime",
                    "imageURL",
                    "onboardingComplete",
                    "conversations",
                    "agents",
                    "projects",
                    "createdAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "204": { "description": "The user has no workspace yet." },
          "401": {
            "description": "The command could not be completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 512
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 128
                        },
                        "details": {
                          "type": "object",
                          "propertyNames": { "type": "string" },
                          "additionalProperties": {
                            "$ref": "#/$defs/__schema0"
                          }
                        }
                      },
                      "required": ["code", "message"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false,
                  "$defs": {
                    "__schema0": {
                      "anyOf": [
                        { "type": "string" },
                        { "type": "number" },
                        { "type": "boolean" },
                        { "type": "null" },
                        {
                          "type": "array",
                          "items": { "$ref": "#/$defs/__schema0" }
                        },
                        {
                          "type": "object",
                          "propertyNames": { "type": "string" },
                          "additionalProperties": {
                            "$ref": "#/$defs/__schema0"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/conversations/{conversationId}/messages": {
      "get": {
        "operationId": "listConversationMessages",
        "summary": "List messages",
        "description": "Returns a page of durable messages after an optional sequence cursor.",
        "tags": ["Messages"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "minLength": 1, "maxLength": 128 }
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "minLength": 1, "maxLength": 128 }
          },
          {
            "name": "after",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 200 }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of durable messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128
                          },
                          "workspaceId": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128,
                            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
                          },
                          "conversationId": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128,
                            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
                          },
                          "threadRootId": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128
                          },
                          "author": {
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "kind": { "type": "string", "const": "user" },
                                  "id": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128
                                  }
                                },
                                "required": ["kind", "id"],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "const": "agent"
                                  },
                                  "id": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
                                  }
                                },
                                "required": ["kind", "id"],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "const": "system"
                                  },
                                  "id": { "type": "string", "const": "relay" }
                                },
                                "required": ["kind", "id"],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "const": "guest"
                                  },
                                  "id": {
                                    "type": "string",
                                    "pattern": "^guest_[A-Za-z0-9_-]{16,64}$"
                                  },
                                  "name": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 80
                                  },
                                  "provider": {
                                    "default": "other",
                                    "type": "string",
                                    "enum": [
                                      "claude",
                                      "openai",
                                      "grok",
                                      "gemini",
                                      "opencode",
                                      "openclaw",
                                      "hermes",
                                      "other"
                                    ]
                                  },
                                  "model": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 80
                                  },
                                  "image": {
                                    "type": "string",
                                    "maxLength": 2048,
                                    "format": "uri"
                                  },
                                  "mark": {
                                    "type": "object",
                                    "properties": {
                                      "style": {
                                        "type": "string",
                                        "const": "grok-bot"
                                      },
                                      "shape": {
                                        "type": "string",
                                        "enum": [
                                          "blob",
                                          "pebble",
                                          "bean",
                                          "egg",
                                          "squircle",
                                          "tablet",
                                          "capsule",
                                          "cylinder",
                                          "hex",
                                          "gem",
                                          "crystal",
                                          "wedge",
                                          "shield",
                                          "dome",
                                          "arch",
                                          "cloud",
                                          "teardrop",
                                          "leaf"
                                        ]
                                      },
                                      "color": {
                                        "type": "string",
                                        "enum": [
                                          "black",
                                          "brown",
                                          "red",
                                          "orange",
                                          "yellow",
                                          "green",
                                          "cyan",
                                          "blue",
                                          "violet",
                                          "magenta",
                                          "gray"
                                        ]
                                      }
                                    },
                                    "required": ["style", "shape", "color"],
                                    "additionalProperties": false
                                  },
                                  "operator": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 128
                                      },
                                      "name": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 80
                                      }
                                    },
                                    "required": ["id", "name"],
                                    "additionalProperties": false
                                  }
                                },
                                "required": ["kind", "id", "name", "provider"],
                                "additionalProperties": false
                              }
                            ]
                          },
                          "body": { "type": "string", "maxLength": 100000 },
                          "mentions": {
                            "default": [],
                            "maxItems": 16,
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 128,
                                  "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
                                },
                                {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 128
                                }
                              ]
                            }
                          },
                          "components": {
                            "default": [],
                            "maxItems": 32,
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 128
                                },
                                "kind": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 64
                                },
                                "version": {
                                  "type": "integer",
                                  "exclusiveMinimum": 0,
                                  "maximum": 9007199254740991
                                },
                                "payload": {
                                  "type": "object",
                                  "propertyNames": { "type": "string" },
                                  "additionalProperties": {
                                    "$ref": "#/$defs/__schema0"
                                  }
                                }
                              },
                              "required": ["id", "kind", "version", "payload"],
                              "additionalProperties": false
                            }
                          },
                          "reactions": {
                            "default": [],
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "emoji": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 64
                                },
                                "pubkeys": {
                                  "default": [],
                                  "maxItems": 128,
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "pattern": "^[0-9a-f]{64}$"
                                  }
                                }
                              },
                              "required": ["emoji", "pubkeys"],
                              "additionalProperties": false
                            }
                          },
                          "edited": { "default": false, "type": "boolean" },
                          "deleted": { "default": false, "type": "boolean" },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                          },
                          "sequence": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          }
                        },
                        "required": [
                          "id",
                          "workspaceId",
                          "conversationId",
                          "author",
                          "body",
                          "mentions",
                          "components",
                          "reactions",
                          "edited",
                          "deleted",
                          "createdAt",
                          "sequence"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "nextSequence": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        { "type": "null" }
                      ]
                    }
                  },
                  "required": ["messages", "nextSequence"],
                  "additionalProperties": false,
                  "$defs": {
                    "__schema0": {
                      "anyOf": [
                        { "type": "string" },
                        { "type": "number" },
                        { "type": "boolean" },
                        { "type": "null" },
                        {
                          "type": "array",
                          "items": { "$ref": "#/$defs/__schema0" }
                        },
                        {
                          "type": "object",
                          "propertyNames": { "type": "string" },
                          "additionalProperties": {
                            "$ref": "#/$defs/__schema0"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The command could not be completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 512
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 128
                        },
                        "details": {
                          "type": "object",
                          "propertyNames": { "type": "string" },
                          "additionalProperties": {
                            "$ref": "#/$defs/__schema0"
                          }
                        }
                      },
                      "required": ["code", "message"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false,
                  "$defs": {
                    "__schema0": {
                      "anyOf": [
                        { "type": "string" },
                        { "type": "number" },
                        { "type": "boolean" },
                        { "type": "null" },
                        {
                          "type": "array",
                          "items": { "$ref": "#/$defs/__schema0" }
                        },
                        {
                          "type": "object",
                          "propertyNames": { "type": "string" },
                          "additionalProperties": {
                            "$ref": "#/$defs/__schema0"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The command could not be completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 512
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 128
                        },
                        "details": {
                          "type": "object",
                          "propertyNames": { "type": "string" },
                          "additionalProperties": {
                            "$ref": "#/$defs/__schema0"
                          }
                        }
                      },
                      "required": ["code", "message"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false,
                  "$defs": {
                    "__schema0": {
                      "anyOf": [
                        { "type": "string" },
                        { "type": "number" },
                        { "type": "boolean" },
                        { "type": "null" },
                        {
                          "type": "array",
                          "items": { "$ref": "#/$defs/__schema0" }
                        },
                        {
                          "type": "object",
                          "propertyNames": { "type": "string" },
                          "additionalProperties": {
                            "$ref": "#/$defs/__schema0"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "appendConversationMessage",
        "summary": "Send a message",
        "description": "Appends a message with the given command id. Replaying the same command id returns the original result.",
        "tags": ["Messages"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "minLength": 1, "maxLength": 128 }
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "minLength": 1, "maxLength": 128 }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "commandId": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "protocolVersion": { "type": "number", "const": 1 },
                  "occurredAt": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "messageId": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128
                      },
                      "conversationId": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128,
                        "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
                      },
                      "threadRootId": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128
                      },
                      "body": { "type": "string", "maxLength": 100000 },
                      "mentions": {
                        "default": [],
                        "maxItems": 16,
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 128,
                              "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
                            },
                            {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 128
                            }
                          ]
                        }
                      },
                      "components": {
                        "default": [],
                        "maxItems": 32,
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 128
                            },
                            "kind": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64
                            },
                            "version": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991
                            },
                            "payload": {
                              "type": "object",
                              "propertyNames": { "type": "string" },
                              "additionalProperties": {
                                "$ref": "#/$defs/__schema0"
                              }
                            }
                          },
                          "required": ["id", "kind", "version", "payload"],
                          "additionalProperties": false
                        }
                      }
                    },
                    "required": [
                      "messageId",
                      "conversationId",
                      "body",
                      "mentions",
                      "components"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "commandId",
                  "protocolVersion",
                  "occurredAt",
                  "payload"
                ],
                "additionalProperties": false,
                "$defs": {
                  "__schema0": {
                    "anyOf": [
                      { "type": "string" },
                      { "type": "number" },
                      { "type": "boolean" },
                      { "type": "null" },
                      {
                        "type": "array",
                        "items": { "$ref": "#/$defs/__schema0" }
                      },
                      {
                        "type": "object",
                        "propertyNames": { "type": "string" },
                        "additionalProperties": { "$ref": "#/$defs/__schema0" }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The persisted message. Duplicate command ids return the original result.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "duplicate": { "type": "boolean" },
[...]
